
@model List<Person> //definicja typu ktory zostal przekazany przez kontroler

@{
    ViewData["Title"] = "Privacy Policy";
    var currentYear = DateTime.Now.Year;
    var dayOfWeek = DateTime.Now.DayOfWeek;
    var email = "mailto@cvontoso.com";
}

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


@{
    //blok z kodem C#
    
}

<p>Rok : @currentYear</p>

@if(dayOfWeek == DayOfWeek.Sunday || dayOfWeek == DayOfWeek.Saturday)
{
    <p>Jest weekend</p>
} else
{
    <p>Nie ma weekendu</p>
}

@switch(dayOfWeek)
{
    case DayOfWeek.Monday:
        <p>Jest poniedziałek</p>
        break;
    default:
        <p>Nie ma poniedziałku</p>
        break;
}

<p>Test</p>

<a href="mailto:@email">@email</a>
@foreach(var person in Model)
{
    <p>@person.FirstName | @person.LastName </p>
}
